# Lab 4
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/marts-dev/geog510-test/blob/main/lab4.ipynb)

## Exercise 1: Variable Assignment and Basic Operations
Create variables to store the following geospatial data:
- The latitude and longitude of New York City: 40.7128, -74.0060
- The population of New York City: 8,336,817
- The area of New York City in square kilometers: 783.8

Perform the following tasks:
1. Calculate and print the population of New York City(population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [8]:
latitude = 40.7128
longitude = -74.0060
population = 8_336_817
area = 783.8
density = population / area
print(f"Population density of New York City is {density:.2f} people per square km")
print(f"Latitude: {latitude}, Longitude: {longitude}")

Population density of New York City is 10636.41 people per square km
Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings
Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:
1. Convert the string to lowercase and print the result
2. Convert the string to uppercase and print the result
3. Replace "San" with "Los" in the city name and print the new string

In [4]:
city_name = "San Francisco"
print(f"{city_name.lower()}")
print(f"{city_name.upper()}")
print(f"{city_name.replace('San', 'Los')}")

san francisco
SAN FRANCISCO
Los Francisco

## Exercise 3: Using Lists
Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)


Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [5]:
cities_list  = [("New York City",(40.7128, -74.0060)), ("Los Angeles", (34.0522, -118.2437)), ("Chicago", (41.8781, -87.6298))]

cities_list.append(("San Francisco", (37.7749, -122.4194)))
print(cities_list)
print(cities_list[:2])

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('San Francisco', (37.7749, -122.4194))]
[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437))]

## Exercise 4: Using Tuples
Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [6]:
eiffel_tower = (48.8584, 2.2945)
print(f"Eiffel Tower is located at latitude {eiffel_tower[0]} and longitude {eiffel_tower[1]}")
eiffel_tower[0] = 48.8585

Eiffel Tower is located at latitude 48.8584 and longitude 2.2945

TypeError: 'tuple' object does not support item assignment

The assignment throws an error because tuples are immutable in Python.

## Exercise 5: Working with Sets
Create a set of countries you have visited, such as {“USA”, “France”, “Germany”}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [7]:
visited_countries = {"USA", "France", "Germany"}
# Task 1
visited_countries.add("Japan")
# Task 2: A dupplicate will not be added to the set
visited_countries.add("Japan")
# Task 3
print(visited_countries)

{'Germany', 'France', 'USA', 'Japan'}

## Exercise 6: Working with Dictionaries
Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: “Amazon River”
- Length: 6400 km
- Countries: [“Brazil”, “Peru”, “Colombia”]


Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river’s average discharge (e.g., 209,000 m³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [9]:
geo_features = {"Name": "Amazon River", "Length": 6400, "Countries": ["Brazil", "Peru", "Colombia"]}
print(f"Original dictionary: {geo_features}")
# Task 1
geo_features["Average Discharge"] = 209_000
# Task 2
geo_features["Length"] = 6992
# Task 3
print(f"Updated dictionary: {geo_features}")

Original dictionary: {'Name': 'Amazon River', 'Length': 6400, 'Countries': ['Brazil', 'Peru', 'Colombia']}
Updated dictionary: {'Name': 'Amazon River', 'Length': 6992, 'Countries': ['Brazil', 'Peru', 'Colombia'], 'Average Discharge': 209000}

## Exercise 7: Nested Data Structures
Create a dictionary to represent a city that contains the city’s name, population, and coordinates (latitude, longitude):

- Name: “Tokyo”
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)


Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city’s latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [11]:
city_dict = {"Name": "Tokyo", "Population": 13_515_271, "Coordinates": (35.6895, 139.6917)}
# Task 1
print(f"Population: {city_dict['Population']}")
# Task 2
print(f"Latitude: {city_dict['Coordinates'][0]}")
# Task 3
city_dict["Population"] = 14_000_000
print(f"Updated dictionary: {city_dict}")

Population: 13515271
Latitude: 35.6895
Updated dictionary: {'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations
Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [12]:
# Task 1
cities_list.sort(key=lambda x: x[0])
print(cities_list)
# Task 2
new_list = [city[0] for city in cities_list]
print(new_list)
# Task 3
cities_list.pop(-1)
print(cities_list)

[('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437)), ('New York City', (40.7128, -74.006)), ('San Francisco', (37.7749, -122.4194))]
['Chicago', 'Los Angeles', 'New York City', 'San Francisco']
[('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437)), ('New York City', (40.7128, -74.006))]

## Exercise 9: Dictionary Operations
Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key “Length” exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [13]:
# Task 1
print("Length" in geo_features)
# Task 2
print(geo_features.keys())
# Task 3
print(geo_features.values())

True
dict_keys(['Name', 'Length', 'Countries', 'Average Discharge'])
dict_values(['Amazon River', 6992, ['Brazil', 'Peru', 'Colombia'], 209000])

## Exercise 10: Practical Application
Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

```python
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]
```
Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of “K2” using the dictionary.

In [14]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]
# Task 1
location_names = [location[0] for location in locations]
print(location_names)
# Task 2
location_dict = {location[0]: (location[1], location[2]) for location in locations}
print(location_dict)
# Task 3
print(f"Latitude of K2: {location_dict['K2'][0]}")

['Mount Everest', 'K2', 'Kangchenjunga']
{'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475)}
Latitude of K2: 35.8808